# User Testing Report

User testing was conducted by Jillian Lim on Octoer 21, 2013 between the times of 8:30 and 9:30 with the following participants:

- Jesus Monsalve
- Will Shaw
- Earaj Inam

## Tasks

1. Find Interesting Information on the irukandji jellyfish
2. Go back to the home page using a link on the website
3. Find out what jellyfish sting symptoms are and how to treat them

---

## Individual Results & Observations

### Jesus Monsalve

- task 1: clicked wrong link (took a little while to find)
- task 2: correct (clicked logo)
- task 3: correct
- User additional comments: Possibly rethink name of nav for Cool Jellyfish

### Will Shaw

- task 1: correct
- task 2: correct (clicked logo)
- task 3: correct
- User additional comments: none

### Earaj Inam

- task 1: clicked wrong link (took a little while to find)
- task 2: correct (clicked logo)
- task 3: correct
- User additional comments: none

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- None

### Serious, Causes Frustration, May Hinder Completion

- None

### Minor, Annoying, Won’t Hinder Completion

- Two of the participants took longer finding information on a specific jellyfish