/*@charset "UTF-8";
/* CSS Document */

* { /*Asterix targets everything in your code*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /*without border-box, the width would be width+padding; with the border-box, the width would not have the padding added on. It is very important for flexible website designing*/
}

html {
	background-color: #222;
	font-size: 100%;
	font-family: "Gill Sans MT", "Trebuchet MS", "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #414042;
}

@media only screen and (min-width: 100em) {
	html {
		font-size: 150%;
	}
}

body {
	background-color: #fff;
	margin: 0;
}

header {
	float: none;
}

img {
	width: 100%;
}

@media only screen and (min-width: 40em) {
	header {
		float: left;
		margin-right: 15px;
	}
	
	main {
		margin-left: 200px;
	}
}

@media only screen and (min-width: 50em) {
	body {
		margin: 0 12%;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
	}
}

/*========NAV=======*/

nav a,
nav a:link,
nav a:visited {
	display: block;
	padding: 13px 20px;
	color: #00FFC3;
	background-color: #00639C;
	text-decoration: none;
	margin: 0;
}

nav a:hover,
nav a:focus, 
nav a:active { 
	color: #00A79D;
	background-color: #00FFC3;
}

@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		display: inline-block;
		padding: 7px 5%;
		width: 50%;
		text-align:center;
	}
}

@media only screen and (min-width: 40em) {
	nav a,
	nav a:link,
	nav a:visited {
		display: inline-block;
		padding: 7px 17px;
		margin-top: 15px;
		width: 100%;
	}
}

/*@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		margin-left: 25%;
	}
}*/

/*@media only screen and (min-width: 35em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		margin: 10px 90% 0 0;
		text-align: left;
		width: 170px;
		padding: 7px 17px;
	}
}*/

/*========H Styling=======*/

a {
	color: #00639C;
	text-decoration: none;
}

a:hover,
a:focus, 
a:active { 
	color: #00FFC3;
}

h1,
h2,
h3,
h4 {
	color: #00639C;	
}

h1 {
	font-size: 3rem;
	text-align: center;
	padding-left: 10px;
	margin: 0 10px 10px 0;
}

h2,
h3 {
	margin: 10px 5px 10px 15px;
	padding-top: 10px;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.55rem;
	border-top: 2px dotted #00639C;
}

h4 {
	font-size: 1rem;
	margin: 5px 5px 0 15px;
}

p {
	line-height: 1.25rem;
	margin: 0px 13px 20px 15px;
}
	
ul,
ol {
	list-style: none;
}

ul {
	margin: 0;
	padding-left: 0;
}


@media only screen and (min-width: 40em){
	h1 {
		margin: 5px 0 0 0;
	}
	
	h2,
	h3,
	h4,
	p {
		margin-left: 0;
	}
}

@media only screen and (min-width: 50em) {
	p {
		margin-right: 50px;
	}
	
}

/*========FOOTER=======*/
footer {
	text-align:center;
	margin-top: 15px;
	font-size: 0.75rem;
}

/*========CLEARFIX=======*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both; /* the wrapper must go clear around the clearfix */
}

.clearfix {
	*zoom: 1;
}