/*@charset "UTF-8";
/* CSS Document */

* { /*Asterix targets everything in your code*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /*without border-box, the width would be width+padding; with the border-box, the width would not have the padding added on. It is very important for flexible website designing*/
}

html {
	background-color: #222;
	font-size: 100%;
	font-family: "Gill Sans MT", "Trebuchet MS", "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #414042;
}

@media only screen and (min-width: 100em) {
	html {
		font-size: 150%;
	}
}

body {
	background-color: #fff;
	margin: 0;
}

header {
	float: none;
}

img,
figure {
	width: 100%;
}

figcaption {
	font-size: 0.85rem;
	margin: 10px 5px 20px 15px;
	text-align: left;
}

.img-margin-bottom {
	margin-bottom: 20px;
}

.img-banner {
	background: url("http://placehold.it/1000x300") no-repeat center top;
	background-size: cover;
	width: 100%;
	height: 250px;
}

.bucket-container{
	display: block;
}

.bucket-dummy {
	margin-top: 0;
}

.bucket-element {
	width: 100%;
	height: 200px;
	border-radius: 0;
}

.bucket-anatomy {
	background: url("http://placehold.it/400x300") no-repeat center center;
	background-size: cover;
}

.bucket-habitat {
	background: url("http://placehold.it/400x300") no-repeat center center;
	background-size: cover;
}

.bucket-ecology {
	background: url("http://placehold.it/400x300") no-repeat center center;
	background-size: cover;
}

.bucket-toxicity {
	background: url("http://placehold.it/400x300") no-repeat center center;
	background-size: cover;
}

.img-toxicity {
	float: none;
	margin-right: 0;
}

@media only screen and (min-width: 40em) {
	header {
		float: left;
		margin-right: 15px;
	}

	.main {
		margin-left: 200px;
	}

	figcaption {
		margin-left: 0;
	}

	.bucket-container{
		display: inline-block;
	}

	.bucket-dummy {
		margin-top: 10px;
	}

	.bucket-element {
		width: 100px;
		height: 100px;
		border-radius: 100px;
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
	}

	.img-toxicity {
		float: left;
		width: 37%;
		margin-right: 10px;
		margin-bottom: 5px;
	}

}

@media only screen and (min-width: 60em) {
	body {
		margin: 0 12%;
		box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.7);
	}

}

@media only screen and (min-width: 70em) {
	.bucket-element {
		width: 150px;
		height: 150px;
		border-radius: 150px;
	}
}

@media only screen and (min-width: 100em) {
	.main {
		margin-left: 300px;
	}

	.bucket-element {
		width: 200px;
		height: 200px;
		border-radius: 200px;
	}
}

/*========NAV=======*/

nav a,
nav a:link,
nav a:visited {
	display: block;
	padding: 13px 20px;
	color: #00FFC3;
	background-color: #00639C;
	text-decoration: none;
	margin: 0;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: #00A79D;
	background-color: #00FFC3;
}

nav a:visited.current {
	color: #00A79D;
	background-color: #00FFC3;
}

@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		display: inline-block;
		padding: 7px 5%;
		width: 50%;
		text-align:center;
	}
}

@media only screen and (min-width: 40em) {
	nav a,
	nav a:link,
	nav a:visited {
		display: inline-block;
		padding: 7px 17px;
		margin-top: 2px;
		width: 100%;
		text-align: left;
	}
}

/*@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		margin-left: 25%;
	}
}*/

/*@media only screen and (min-width: 35em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		margin: 10px 90% 0 0;
		text-align: left;
		width: 170px;
		padding: 7px 17px;
	}
}*/

/*========H Styling=======*/

a {
	color: #00639C;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #00FFC3;
}

h1,
h2,
h3,
h4 {
	color: #00639C;
}

h1 {
	font-size: 3rem;
	text-align: center;
	padding-left: 10px;
	margin: 0 10px 10px 0;
}

h2,
h3 {
	margin: 10px 5px 10px 15px;
	padding-top: 10px;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.55rem;
	border-top: 2px dotted #00639C;
}

h4 {
	display: inline-block;
	font-size: 1rem;
	margin: 5px 5px 0 15px;
}

p {
	line-height: 1.25rem;
	margin: 0px 13px 20px 15px;
}

ol li {
	margin: 0 33px;
	padding-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.ul-padding {
	padding-bottom: 20px;
}

.li-bullets {
	margin: 0 33px;
	list-style: disc;
}

@media only screen and (min-width: 40em){
	h1 {
		margin: 5px 0 5px 0;
	}

	h2,
	h3,
	h4,
	p {
		margin-left: 0;
	}

	.li-bullets {
		margin: 0 20px;
	}
}

@media only screen and (min-width: 60em) {
	p {
		margin-right: 50px;
	}

@media only screen and (min-width: 100em) {
	h2 {
		margin-top: 16px;
	}
}

}

/*========FOOTER=======*/
footer {
	text-align:center;
	margin-top: 15px;
	font-size: 0.75rem;
}

/*========CLEARFIX=======*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both; /* the wrapper must go clear around the clearfix */
}

.clearfix {
	*zoom: 1;
}
