/*@charset "UTF-8";
/* CSS Document */

* { /*Asterix targets everything in your code*/
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; /*without border-box, the width would be width+padding; with the border-box, the width would not have the padding added on. It is very important for flexible website designing*/
}

html {
	font-size: 100%;
	font-family: "Gill Sans MT", "Trebuchet MS", "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #414042;

	background-color: #83ead3;

	background-image: url(../img/jellyfish-background-rays.svg), -ms-radial-gradient(left top, circle farthest-corner, #94ffe3 0%, #00959d 100%);
	background-image: url(../img/jellyfish-background-rays.svg), -moz-radial-gradient(left top, circle farthest-corner, #94ffe3 0%, #00959d 100%);
	background-image: url(../img/jellyfish-background-rays.svg), -o-radial-gradient(left top, circle farthest-corner, #94ffe3 0%, #00959d 100%);
	background-image: url(../img/jellyfish-background-rays.svg), -webkit-gradient(radial, left top, 0, left top, 971, color-stop(0, #94ffe3), color-stop(1, #00959d));
	background-image: url(../img/jellyfish-background-rays.svg), -webkit-radial-gradient(left top, circle farthest-corner, #94ffe3 0%, #00959d 100%);
	background-image: url(../img/jellyfish-background-rays.svg), radial-gradient(circle farthest-corner at left top, #94ffe3 0%, #00959d 100%);

	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (min-width: 100em) {
	html {
		font-size: 150%;
	}
}

body {

	margin: 0;

/*	background-image: url("../img/jellyfish-background.svg");*/
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	float: none;
}

img,
figure {
	width: 100%;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.figcaption {
	font-size: 0.85rem;
	margin: 10px 5px 20px 15px;
	text-align: left;
}

.img-banner {
	background: url("../img/moon-jellyfish-bloom.jpg") no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 282px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.bucket-container{
	display: block;
}

.bucket-dummy {
	margin-top: 0;
}

.bucket-element {
	width: 100%;
	height: 200px;
	border-radius: 0;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.3);
}

.buckets {
	margin: 0;
	padding: 0;
}

.bucket-anatomy {
	background: url("../img/jellyfish-anatomy.jpg") no-repeat center center;
}

.bucket-species {
	background: url("../img/lions-mane-jellyfish.jpg") no-repeat center center;
}

.bucket-ecology {
	background: url("../img/jellyfish-life-cycle.jpg") no-repeat center center;
}

.bucket-toxicity {
	background: url("../img/jellyfish-toxicity.png") no-repeat center center;
}

.gallery {
	width: 100%;
	height: 200px;
}

.gallery-bell {
	background: url("../img/gallery-bell-jellyfish.jpg") no-repeat center center;
}

.gallery-benthocodon {
	background: url("../img/gallery-benthocodon-jellyfish.jpg") no-repeat center center;
}

.gallery-box {
	background: url("../img/gallery-box-jellyfish.jpg") no-repeat center center;
}

.gallery-comb {
	background: url("../img/gallery-comb-jelly.jpg") no-repeat center center;
}

.gallery-compass {
	background: url("../img/gallery-compass-jellyfish.jpg") no-repeat top right;
}

.gallery-crown {
	background: url("../img/gallery-crown-jellyfish.jpg") no-repeat center center;
}

.gallery-hat {
	background: url("../img/gallery-flower-hat-jellyfish.jpg") no-repeat center center;
}

.gallery-egg {
	background: url("../img/gallery-fried-egg-jellyfish.jpg") no-repeat center center;
}

.gallery-golden {
	background: url("../img/gallery-golden-jellyfish.jpg") no-repeat center center;
}

.gallery-lion {
	background: url("../img/gallery-lions-mane-jellyfish.jpg") no-repeat center center;
}

.gallery-mauve {
	background: url("../img/gallery-mauve-stinger-jellyfish.jpg") no-repeat center left;
}

.gallery-purple {
	background: url("../img/gallery-purple-striped-jellyfish.jpeg") no-repeat center center;
}

.gallery-white {
	background: url("../img/gallery-white-spotted-jellyfish.jpg") no-repeat center center;
}

.bucket-anatomy,
.bucket-species,
.bucket-ecology,
.bucket-toxicity,
.gallery {
	background-size: cover;
}

.img-float-width {
	float: none;
	margin-right: 0;
}

.fig-left {
	margin-left: 0;
}

@media only screen and (min-width: 25em) {
	.bucket-element {
		width: 95%;
		margin-left: 5px;
	}

	.buckets {
		margin: 2%;
	}

	.gallery {
		height: 350px;
	}

	.figcaption {
		margin-left: 5px;
	}

	.img-float-width {
		float: left;
		width: 35%;
		margin: 0 10px 5px 15px;
	}

}

@media only screen and (min-width: 40em) {
	header {
		position: absolute;
		margin-right: 15px;
	}

	.main {
		margin-left: 200px;
	}

	.figcaption {
		text-align: center;
	}

	.bucket-container{
		display: inline-block;
	}

	.bucket-dummy {
		margin-top: 10px;
	}

	.bucket-element {
		width: 95px;
		height: 95px;
		border-radius: 100px;
		margin-left: 0;
	}

	.img-float-width {
		width: 37%;
		margin-left: 0;
	}

	.fig-left {
		margin-left: -15px;
	}

}

@media only screen and (min-width: 60em) {
	body {
		margin: 0 12%;
	}
}

@media only screen and (min-width: 70em) {
	.bucket-element {
		width: 145px;
		height: 145px;
		border-radius: 150px;
	}

	.fig-left {
		margin-left: 0;
	}
}

@media only screen and (min-width: 100em) {
	.main {
		margin-left: 300px;
	}

	.bucket-element {
		width: 205px;
		height: 205px;
		border-radius: 205px;
	}
}

/*========NAV=======*/

nav a,
nav a:link,
nav a:visited {
	display: block;
	padding: 13px 20px;
	color: #00FFC3;
	background-color: #00548f;
	text-decoration: none;
	margin: 0;
}

nav a:visited.current {
	color: #00A79D;
	background-color: #0cedb2;
}

nav a:hover.current {
	background-color: #7EFCDB;
}

nav a:hover,
nav a:focus,
nav a:active {
	color: #00A79D;
	background-color: #7EFCDB;
	-moz-box-shadow: 0 0 5px #27FFE0;
	-webkit-box-shadow: 0 0 5px #27FFE0;
	box-shadow: 0px 0px 5px #27FFE0;
}

@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		display: inline-block;
		padding: 7px 5%;
		width: 50%;
		text-align:center;
	}
}

@media only screen and (min-width: 40em) {
	nav a,
	nav a:link,
	nav a:visited {
		display: inline-block;
		padding: 7px 17px;
		margin-top: 2px;
		width: 100%;
		text-align: left;
	}
}

/*@media only screen and (min-width: 25em) {
	nav a,
	nav a:link,
	nav a:visited {
		margin-left: 25%;
	}
}*/

/*@media only screen and (min-width: 35em) {
	nav a,
	nav a:link,
	nav a:visited {
		float: left;
		margin: 10px 90% 0 0;
		text-align: left;
		width: 170px;
		padding: 7px 17px;
	}
}*/

/*========A Styling=======*/

a {
	color: #00548f;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #00FFC3;
}

.skiplinks {
		margin: 0;
		padding: 0;
		position: absolute; /* This is so that it doesn't interfere with the rest of the site and just floats on top */
		width: 100%; /* This is so that the link will expand into one line, instead of one word per line */
		z-index: 3000;

		font-size:1.25em;
		font-weight: bold;
		list-style-type: none;
}

.skiplinks a,
.skiplinks a:link
.skiplinks a:visited {
	padding: 0.5em 0.75em;
	position: absolute; /* position: absolute and top: -10em will shift the content off the screen */
	top: -10em;

	background-color: #000;
	color:#fff;
	text-decoration: none;
}

.skiplinks a:focus {
	top: 0; /* This will shift the content back down so that it is visible when someone tabs on the info */
}

a,
a:link,
a:visited {
	outline: none; /* Removes the keyboard selection highlight */
}

a:hover,
a:active {
	outline: none; /* Removes the keyboard selection highlight */
}

a:focus {
	outline: 2px solid #000; /* Will highlight only when tabbed; nice and prominent for people with visibility impairment */
	background-color: black;
}

/*========H Styling=======*/

h1,
h2,
h3,
h4 {
	font-family: "Open Sans Condensed", "Gill Sans MT", "Trebuchet MS", "Myriad Pro", Arial, Helvetica, sans-serif;
	color: #00548f;
}

h1 {
	font-size: 2.6rem;
	text-align: center;
	padding-left: 10px;
	padding-top: 5px;
	margin: 0px 10px 10px 0;
}

.home {
	margin: 0;
	padding: 0;
	position: absolute; /* This is so that it doesn't interfere with the rest of the site and just floats on top */
	top: -10em;
}

h2,
h3 {
	margin: 10px 5px 10px 15px;
	padding-top: 10px;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.55rem;
	border-top: 2px dotted #00377b;
}

h4 {
	display: block;
	font-size: 1rem;
	margin: 5px 5px 0 15px;
}

p {
	line-height: 1.25rem;
	margin: 0px 13px 20px 15px;
}

ol li {
	margin: 0 33px;
}

.li-padding-bottom {
	padding-bottom: 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.ul-padding {
	padding-bottom: 20px;
}

.li-bullets {
	margin: 0 33px;
	list-style: disc;
}

@media only screen and (min-width: 40em){
	h1 {
		margin: 5px 0 5px 0;
	}

	h2,
	h3,
	h4,
	p {
		margin-left: 0;
	}

	.li-bullets {
		margin: 0 20px;
	}
}

@media only screen and (min-width: 60em) {
	p {
		margin-right: 50px;
	}
}

@media only screen and (min-width: 100em) {
	h2 {
		margin-top: 16px;
	}
}

/*========FOOTER=======*/
footer {
	text-align:center;
	margin-top: 15px;
	font-size: 0.75rem;
}

/*========CLEARFIX=======*/

.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both; /* the wrapper must go clear around the clearfix */
}

.clearfix {
	*zoom: 1;
}
