<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{page.title}}{%endif%}</title>
	<link href="{{site.baseurl}}/css/jellyfish.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/jellyfish-grid.css" rel="stylesheet">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700' rel='stylesheet'>
<!--<link href='http://fonts.googleapis.com/css?family=Questrial|Open+Sans+Condensed:700' rel='stylesheet'>
-->
	{% if page.description %}
		<meta name="description" content="{{page.description}}">
		{% else %}
		<meta name="description" content="{{site.description}}">
	{% endif %}

	<meta name="handheldfriendly" content="true"><!--this is the oldest support system-->
	<meta name="mobileoptimized" content="240"> <!--content has the minimum resolution-->

	<!--<link rel="shortcut icon" href="favicon.ico">

	<link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-72x72.png">
	<link rel="apple-touch-icon" href="touch-icon-iphone.png">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone-precomposed.png">
-->

	<!-- Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{page.title}}{%endif%}">
	<meta property="og:url" content="http://lim00074.github.io/large-data-website{% if page.url%}{{page.url}}{%endif%}">
	<meta property="og:image" content="http://lim00074.github.io/large-data-website/{% if page.picture %}{{page.picture}}{%endif%}">
	<meta property="og:site_name" content="The Jellyfish Experts">
	<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="{% if page.title %}{{page.title}}{%endif%}">
	<meta property="twitter:url" content="http://lim00074.github.io/large-data-website{% if page.url%}{{page.url}}{%endif%}">
	<meta property="twitter:image" content="http://placehold.it/120x120">
	<meta property="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

</head>

<body class="clearfix" id="top">

	<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>

	<header class="clearfix" role="banner">
		<h1><a href="{{site.baseurl}}/index.html" rel="home">Jellyfish</a></h1>
		<nav role="navigation" id="navigation">
			<ul>
				<li><a href="{{site.baseurl}}/index.html" class="{% if page.url == "/index.html" %}current{% endif %}" rel="home">Introduction to Jellyfish</a></li>
				<li><a href="{{site.baseurl}}/life-cycle.html" class="{% if page.url == "/life-cycle.html" %}current{% endif %}">Life Cycle</a></li>
				<li><a href="{{site.baseurl}}/toxicity.html" class="{% if page.url == "/toxicity.html" %}current{% endif %}">Jellyfish Toxicity</a></li>
				<li><a href="{{site.baseurl}}/species.html" class="{% if page.url == "/species.html" %}current{% endif %}">Cool Jellyfish Species</a></li>
			</ul>
		</nav>
	</header>

	<main class="clearfix" role="main" id="main">
		<div class="main">

	{{content}}

			<p><a href="#top">Back to Top</a></p>
		</div>

	</main>
	<footer role="contentinfo">
		<p>© 2013 Jellyfish. All rights reserved.</p>
	</footer>
</body>
</html>
