<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>{% if page.title %}{{page.title}} · {%endif%}</title>
	<link href="css/jellyfish.css" rel="stylesheet">
	<link href="css/jellyfish-grid.css" rel="stylesheet">
<!--<link href='http://fonts.googleapis.com/css?family=Questrial|Open+Sans+Condensed:700' rel='stylesheet'>
-->
	{% if page.description %}
		<meta name="description" content="{{page.description}}">
		{% else %}
		<meta name="description" content="{{site.description}}">
	{% endif %}

	<meta name="handheldfriendly" content="true"><!--this is the oldest support system-->
	<meta name="mobileoptimized" content="240"> <!--content has the minimum resolution-->

	<!--<link rel="shortcut icon" href="favicon.ico">

	<link rel="apple-touch-icon" sizes="114x114" href="/touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/touch-icon-72x72.png">
	<link rel="apple-touch-icon" href="touch-icon-iphone.png">

	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/touch-icon-iphone-precomposed.png">
-->

	<!-- Facebook -->
	<meta property="og:type" content="article">
	<meta property="og:title" content="{% if page.title %}{{page.title}} · {%endif%}">
	<meta property="og:url" content="http://lim00074.github.io/large-data-website{% if page.url%}{{page.url}}{%endif%}">
	<meta property="og:image" content="http://placehold.it/200x200">
	<meta property="og:site_name" content="The Jellyfish Experts">
	<meta property="og:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

	<!-- Twitter -->
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="{% if page.title %}{{page.title}} · {%endif%}">
	<meta property="twitter:url" content="http://lim00074.github.io/large-data-website{% if page.url%}{{page.url}}{%endif%}">
	<meta property="twitter:image" content="http://placehold.it/120x120">
	<meta property="twitter:description" content="{% if page.description %}{{page.description}}{% else %}{{site.description}}{% endif %}">

</head>

<body class="clearfix">

	<header class="clearfix">
		<h1><a href="index.html" rel="home">Jellyfish</a></h1>
		<nav>
			<ul>
				<li><a href="index.html" rel="home">Introduction to Jellyfish</a></li>
				<li><a href="life-cycle.html">Life Cycle</a></li>
				<li><a href="toxicity.html">Jellyfish Toxicity</a></li>
				<li><a href="species.html">Cool Jellyfish</a></li>
			</ul>
		</nav>
	</header>

	<main class="clearfix">
		<div class="main">

	{{content}}

		</div>
	</main>
	<footer>
		<p>© 2013 Jellyfish. All rights reserved.</p>
	</footer>
</body>
</html>
